@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <Button Color = "Color.Link" @onclick="BeginSignOut">Log out</Button>
    </Authorized>
    <NotAuthorized>
        <Button Color = "Color.Link" Type="ButtonType.Link" To="authentication/login">Log in</Button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
