@inherits LayoutComponentBase
@inject NavigationManager _navigation
@inject IMovieService _movieService

<Layout Style="width:80%; margin:auto">
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop">
            <BarBrand>
                <Link To="/">
                    MovieSelection
                </Link>
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <div class="input-group rounded">
                            <Autocomplete TItem="string"
                                          TValue="string"
                                          Data="@_movieNames"
                                          TextField="@(( item ) => item)"
                                          ValueField="@(( item ) => item)"
                                          @bind-SelectedValue="@_name"
                                          Placeholder="Search..."
                                          Filter="AutocompleteFilter.Contains"
                                          FreeTyping>
                                <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
                            </Autocomplete>
                            <Button Clicked="OnSearchStarted">
                                <Icon Name="IconName.Search"/>
                            </Button>
                        </div>
                    </BarItem>
                </BarStart>
                <BarEnd>
                    <BarItem>
                        <LoginDisplay/>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter Class = "text-center">
        <a href="https://vk.com/kromashkevich"><img class="img-thumbnail" width="35" src="logos/vk.png"/></a>
        <a href="https://www.instagram.com/neverherox"><img class="img-thumbnail" width="35" src="logos/inst.png"/></a>
    </LayoutFooter>
</Layout>

@code{
    private string _name;
    private IEnumerable<string> _movieNames;

    protected override async Task OnInitializedAsync()
    {
        _movieNames = await _movieService.GetMovieNamesAsync();
    }

    private void OnSearchStarted()
    {
        _name ??= "all";
        _navigation.NavigateTo($"movies/{_name}");
    }
}
