@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop">
            <BarBrand>
                MovieSelection
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarEnd>
                    <BarItem>
                        <LoginDisplay/>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter Class = "text-center">
        <a href="https://vk.com/kromashkevich"><img class="img-thumbnail" width="35" src="logos/vk.png"/></a>
        <a href="https://www.instagram.com/neverherox"><img class="img-thumbnail" width="35" src="logos/inst.png"/></a>
    </LayoutFooter>
</Layout>
