<Div TextAlignment="TextAlignment.Center">
    <Image Source=@Actor.Image Class="rounded-circle actor" Border="Border.Is1" />
    <span class="figure-caption" style="display: block; text-align:start">
        @Actor.FirstName<br>
        @Actor.LastName
    </span>
</Div>

@code {
    [Parameter] public Actor Actor { get; set; }
}

<style>
    .actor {
        width:100px;
        height: 100px;
        object-fit:cover;
        object-position:50% 50%;
    }
</style>
