button {
    border: none;
    color: gray;
}

a {
    color:black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 10%;
    vertical-align: middle;
}

span {
    vertical-align: middle;
}



