@page "/"

@inject NavigationManager _navigation
@inject IMovieService _movieService

<CardDeck>
    @foreach (var movie in _highlyRatedMovies)
    {
        <MovieCard Movie="@movie"></MovieCard>
    }
    <Button Type="ButtonType.Link" To="movies/highly-rated">Show more</Button>
</CardDeck>

<CardDeck>
    @foreach (var movie in _novelties)
    {
        <MovieCard Movie="@movie"></MovieCard>
    }
    <Button Type="ButtonType.Link" To="movies/novelties">Show more</Button>
</CardDeck>

@code{
    private IEnumerable<GetMovie> _highlyRatedMovies;
    private IEnumerable<GetMovie> _novelties;

    protected override async Task OnInitializedAsync()
    {
        Initialise();
        _highlyRatedMovies = await _movieService.GetHighlyRatedMoviesAsync(1);
        _novelties = await _movieService.GetNoveltiesAsync(1);
    }

    private void Initialise()
    {
        _highlyRatedMovies = new List<GetMovie>();
        _novelties = new List<GetMovie>();
    }
}
